@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    padding: 150px;
}

ol, ul {
    padding-left: 30px;
}

#header{
    padding: 15px;
}

#hr{
    height: 5px;
}

.header-text-box {
    background-color: darkgray;
    border: 5px solid black;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    font-size: 48px;
    font-weight: bold;
}

ul li{
    display: inline-block;
}

.square::first-letter {
    background: #fff;
    border: 3px solid #000000;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    margin-right: 2px;
    padding: 5px;
    width: 50px;
}

.profile {
    border: 5px solid black;
    border-radius: 50%;
    margin-top: -100px;
    margin-bottom: -100px;
}